# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:  
1. Python  
2. R  
3. SQL  
4. Julia  
5. Java

Some of the commonly used libraries used by Data Scientists include:  
1. Numpy
2. Matplotlib
3. Scikit-learn
4. Pandas
5. TensorFlow

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark | 
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [110]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [112]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
* List data science languages
* List data science libraries
* Multiply and add numbers
* List Objectives

## Author

Baltaev Ruslan